<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <a href="../index.html">Ir al CV</a>
    <h1>Hola soy Santiago</h1>

    <h2>Es un gusto conocerte!</h2>

    <p>Permiteme presentarme, soy un joven de 20 años
       con las ganas inmensas de nunca para de aprender,
       actualmente recido en Colombia, mas especificamente
       en la ciudad de Bogota D.C, en estos momentos deseo
       introducirme en esta ola de grandes oportunidades y 
       maravillas que existen dentro del mundo digital, vengo
       de cursar un tecnologo en Contabilidad y Finanzas sin 
       embargo nunca me ha gustado ser especialista, si no 
       explorar de todo un poco en el area de la vida, con sus
       infinitas sabidurias.
    </p>
     <p>Espero os haya gustado, saludos!</p>

</body>
</html>